.headerSection {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 140px 0;
    position: relative;
    outline: 0;
    border: 0;
}

.headerSection::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: rgba(34, 34, 34, .3);
}

.howItWorksBackground {
    background-image: url("../../images/HowItWorks/dark-background-1.webp");
}

.headerSection h1 {
    color: white;
    margin-bottom: 15px;
}

.headerSection h2 {
    color: white;
    font-weight: 300;
    color: #bbb;
    font-size: 24px;
}

@media (max-width: 768px) {
    .headerSection h1 {
        font-size: 70px;
        line-height: 86px;
        letter-spacing: -.03em;
        margin-bottom: 0px;
    }
}

@media (max-width: 600px) {
    .headerSection {
        padding: 100px 0;
    }
    .headerSection h1 {
        font-size: 54px;
        line-height: 64px;
    }
    .headerSection h2 {
        font-size: 18px;
    }
}

@media (max-width: 490px) {
    .headerSection {
        padding: 80px 0;
    }
    .headerSection .wrapper {
        top: 10px;
        position: relative;
    }
}