* {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
    transition: .3s ease-in-out;
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-left: 1px solid #fff
}

::-webkit-scrollbar-thumb {
    background-color: #638645
}

::-webkit-scrollbar-thumb:hover {
    background-color: #638645
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 15px;
    color: #111;
    z-index: 1;
    position: relative
}

h1 {
    font-size: 76px;
    line-height: 86px;
    letter-spacing: -.03em;
}

h2 {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -.04em
}

h3 {
    font-size: 24px;
    line-height: 34px
}

h4 {
    font-size: 20px
}

p,
p a {
    font-size: 18px
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
}

.ctaWithBG {
    background-image: url("images/Contact/dark-background-1.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.documentsBG {
    background: url('images/documents-background.webp');
}

.textBlock {
    padding: 100px 0;
}

.headerText h1 {
    position: relative;
    color: #fff;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -.04em;
}

.headerText h2 {
    width: 70%;
    line-height: 35px;
}

.textBlock h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 300;
}

.textBlock p {
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    word-break: break-word;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
}

.textBlock a {
    font-size: 18px;
    color: #111;
    text-decoration: underline;
}

.textBlock li {
    margin-bottom: 20px;
}