.faqBackground {
    background-image: url('../../images/FAQ/faq-background.webp');
}

.faq {
    padding: 100px 0;
    background-color: #f8f9fa;
}

.faq h1 {
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -.04em;
    margin-bottom: 80px;
}

.faqItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

@media (max-width: 1024px) {
    .faqItems {
        grid-template-columns: 1fr;
    }
    .faqLeft>.faqItem:last-child {
        border-bottom: 0 !important;
    }
}

@media (max-width: 430px) {
    .faqVisible h4 {
        padding-right: 10px;
    }
}